.item-card {
  cursor: pointer;
  background-color: white;
  border-radius: 12px;

  .inner-item {
    padding: 1rem;
  }
}

.sub-heading {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.sub-text {
  margin: 0;
}

.filter-button {
  background-color: white;
}

.in-progress {
  color: #4bb543;
}
.in-progress-icon {
  color: #4bb543;
  margin-left: 0.3rem;
}
.not-started {
  color: #3703d4;
}
.not-started-icon {
  color: #3703d4;
  margin-left: 0.3rem;
}
.ended {
  color: #b41e1e;
}
.ended-icon {
  color: #b41e1e;
  margin-left: 0.3rem;
}

.last-child {
  margin-bottom: 2rem;
}
