<form
  fxLayout="column"
  fxLayoutAlign="center stretch"
  [formGroup]="addProductForm"
>
  <mat-form-field appearance="outline">
    <mat-label>Työnantajan nimi</mat-label>
    <input matInput type="text" formControlName="companyName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Osoite</mat-label>
    <input matInput type="text" formControlName="address" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Valitse päivämäärä</mat-label>
    <input matInput [matDatepicker]="dp3" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Aika</mat-label>
    <input matInput type="text" formControlName="time" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Työaika</mat-label>
    <input matInput type="text" formControlName="hoursUsed" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tilanne</mat-label>
    <select matNativeControl formControlName="phase">
      <option value="" selected></option>
      <option *ngFor="let phase of phases" [value]="phase.value">
        {{ phase.viewValue }}
      </option>
    </select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Yhteishenkilön tiedot</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="8"
      formControlName="companyContactInfo"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Selostus</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="8"
      cdkAutosizeMaxRows="15"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <button
    *ngIf="!isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="this.addProductForm.invalid"
    (click)="submit()"
  >
    Tallenna
  </button>

  <button
    *ngIf="isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    disabled
    (click)="submit()"
  >
    <app-loading-spinner [diameter]="35"></app-loading-spinner>
  </button>
</form>
