<main
  fxLayout="column"
  fxLayoutAlign="center center"
  [style.width]="'100%'"
  [style.padding-top]="'70px'"
>
  <div
    [style.width]="'90%'"
    class="mat-elevation-z3"
    style="background-color: white; border-radius: 16px"
  >
    <h1 [style.margin-left.px]="15" [style.margin-top.px]="15">
      Työmaa kohtainen kaavake
    </h1>

    <div [style.padding.px]="20">
      <app-add-product-form
        [isLoading]="isLoading"
        (addProductFormSubmit)="addProductFormSubmitted($event)"
      ></app-add-product-form>
    </div>
  </div>
</main>
