section {
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sub-heading {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.sub-text {
  margin: 0;
}

.text-wrapper {
  margin-left: 0.6rem;
}

.right-corner-text {
  margin-right: 0.6rem;
}
