.item-card {
  width: 90%;
  background-color: white;
  border-radius: 6px;

  .inner-item {
    padding: 1rem;
  }
}

.sub-heading {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.sub-text {
  margin: 0;
}

.edit-button {
  margin-top: 2rem;
}

.delete-button {
  margin-left: 2rem;
}

.add-job-to-product-button {
  background-color: #9ff789;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
  transform: scale(1.5);
}
