<main fxLayout="column" fxLayoutAlign="center center">
  <app-logo size="small"></app-logo>

  <app-forgot-password-form
    class="width-300-or-90-percent"
    [username]="this.username$ | async"
    [isSignInCommunicating]="isSignInCommunicating$ | async | onlyBoolean"
    [isNewPasswordCodeLimitExceeded]="isNewPasswordCodeLimitExceeded$ | async | onlyBoolean"
    [isNewPasswordCodeUserNotFound]="isNewPasswordCodeUserNotFound$ | async | onlyBoolean"
    (newPasswordCodeRequest)="this.onNewPasswordRequest($event)"
  >
  </app-forgot-password-form>
</main>
