<app-info>
  <p>
    Jos olet unohtanut salasanasi, voit tällä lomakkeella tilata sähköpostiisi
    vaihtokoodin uuden salasanan asettamista varten.
  </p>
</app-info>

<app-alert
  *ngIf="this.isNewPasswordCodeLimitExceeded"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <mat-icon>error_outline</mat-icon>
  <mat-error>
    Tilisi salasanan vaihtokoodia on pyydetty lyhyen ajan sisällä liian monta
    kertaa. Ole hyvä ja tarkista vaihtokoodi sähköpostistasi. Tarvittaessa odota
    hetken aikaa ennen uuden vaihtokoodin pyytämistä.
  </mat-error>
</app-alert>

<app-alert
  *ngIf="this.isNewPasswordCodeUserNotFound"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <mat-icon>error_outline</mat-icon>
  <mat-error>
    Emme onnistuneet lähettämään tilaamaasi salasanan vaihtokoodia. Ole hyvä ja
    tarkista käyttäjätunnus.
  </mat-error>
</app-alert>

<form
  fxLayout="column"
  fxLayoutAlign="start"
  fxLayoutGap="8px"
  [formGroup]="forgotPasswordForm"
>
  <mat-form-field appearance="fill">
    <mat-label>Käyttäjätunnus</mat-label>
    <input matInput type="text" formControlName="username" />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="this.submit()"
    [disabled]="this.forgotPasswordForm.invalid || this.isCommunicating"
  >
    Tilaa salasanan vaihtokoodi
  </button>

  <a mat-button routerLink="/sign-in" color="primary"
    >Takaisin sisäänkirjautumiseen</a
  >
</form>
