<form fxLayout="column" fxLayoutAlign="center stretch" [formGroup]="addDestinationForm">

  <mat-form-field appearance="outline">
    <mat-label>Asunnon tarkka osoite</mat-label>
    <input matInput type="text" formControlName="address" />
  </mat-form-field>

  <button
    *ngIf="!isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="this.addDestinationForm.invalid"
    (click)="submit()"
  >
    Lisää
  </button>

  <button
    *ngIf="isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    disabled
  >
    <app-loading-spinner [diameter]="35"></app-loading-spinner>
  </button>
</form>
