<section fxLayoutAlign="center center">
  <form
    fxLayout="column"
    fxLayoutAlign="start"
    fxLayoutGap="8px"
    [formGroup]="jobEditForm"
  >
    <mat-form-field appearance="fill">
      <mat-label>Valitse päivämäärä</mat-label>
      <input matInput [matDatepicker]="dp3" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tehdyn työn selite</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="8"
        cdkAutosizeMaxRows="15"
        formControlName="jobDescription"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Kellon aika</mat-label>
      <input matInput type="text" formControlName="time" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Työmaalla käytetty aika</mat-label>
      <input matInput type="text" formControlName="hoursUsed" />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      (click)="this.saveEditForm()"
    >
      Tallenna
    </button>
  </form>
</section>
