<form
  fxLayout="column"
  fxLayoutAlign="center stretch"
  [formGroup]="addJobForm"
>
  <mat-form-field appearance="outline">
    <mat-label>Tehty työ</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="8"
      cdkAutosizeMaxRows="15"
      formControlName="jobDescription"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Valitse päivämäärä</mat-label>
    <input matInput [matDatepicker]="dp3" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Aika</mat-label>
    <input matInput type="text" formControlName="time" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Työaika</mat-label>
    <input matInput type="text" formControlName="hoursUsed" />
  </mat-form-field>

  <button
    *ngIf="!isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="this.addJobForm.invalid"
    (click)="submit()"
  >
    Tallenna
  </button>

  <button
    *ngIf="isLoading"
    mat-flat-button
    color="primary"
    type="submit"
    disabled
  >
    <app-loading-spinner [diameter]="35"></app-loading-spinner>
  </button>
</form>
