<h1>Uuden salasanan vaihtaminen</h1>

<p>
  Vaihtaaksesi käyttäjätilille
  <strong>{{ this.userName }}</strong> uuden salasanan syötä alla olevalla
  lomakkeella sähköpostiisi lähetetty salasanan vaihtokoodi sekä valitsemasi
  uusi salasana.
</p>

<p *ngIf="errorCode === 'InvalidPasswordException'" class="loginError">
  Uuden salasanan on oltava vähintään 8 merkkiä pitkä ja sisällettävä pieniä ja
  isoja kirjaimia sekä numeroita.
</p>

<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Syötä uusi salasana"
        formControlName="newPassword"
      />
    </mat-form-field>
  </p>

  <p class="loginButtons">
    <button
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="form.invalid"
    >
      Vaihda uusi salasana
    </button>
  </p>
</form>
